.main-theme {
  --color-main: #263036;
  --color-main-transparent: #263036ac;
  --color-secondary: #1e1e1e;
  --color-default-link-left-bar: #1c2e8c;
  --color-left-bar-background: #86a3b4;
  --color-name: #ffffff;
  --color-surname: #1c2e8c;
}
